.general_background {
    background-color: #F5F5FA;
}


.ring_outsider {
    position: absolute;
    width: 425px;
    height: 425px;
    background: #DBDAFF;
    border-radius: 0 0 425px 0;
    -moz-border-radius: 0 0 425px 0;
    -webkit-border-radius: 0 0 425px 0;
}


.ring_insider_home {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #F5F5FA;
    border-radius: 0 0 200px 0;
    -moz-border-radius: 0 0 200px 0;
    -webkit-border-radius: 0 0 200px 0;
    background-size: 190px 190px;
}

.ring_insider {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #F5F5FA;
    border-radius: 0 0 200px 0;
    -moz-border-radius: 0 0 200px 0;
    -webkit-border-radius: 0 0 200px 0;
    background-size: 190px 190px;
}

.card {
    margin-bottom: 30px;
    border: none;
    border-radius: 30px;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
}

h1 {
    font-family: "JetBrains Mono";
    color: #4846FF;
    font-size: 30px;
    margin-bottom: 5%;
}

.grey_progress_indicator {
    color: #E5E5F8;
}

.btn-primary {
    background: #4846FF;
    border-radius: 30px;
    font-family: "JetBrains Mono";
    color: snow;
    padding: 12px 45px 12px 45px;
    box-shadow: none;
    border-width: 0px;
    font-size: 18px;
}

.btn-primary:hover {
    background: #6f6cfd;
}

.btn-secondary {
    border-radius: 30px;
    font-family: "JetBrains Mono";
    color: black;
    padding: 10px 30px 10px 30px;
    box-shadow: none;
    border-width: 2px;
    border-color: #B6B5FF;
    background-color: white;
    font-size: 18px;
}

.btn-secondary:hover {
    background: #b9b8f4;
    border-color: #B6B5FF;
}

.btn-secondary-small {
    border-radius: 30px;
    font-family: "JetBrains Mono";
    color: black;
    padding: 10px 25px 10px 25px;
    box-shadow: none;
    border-width: 2px;
    border-color: #B6B5FF;
    background-color: white;
    font-size: 18px;
}

.btn-secondary-small:hover {
    background: #b9b8f4;
    border-color: #B6B5FF;
}

.default-input {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom-width: 1px;
    border-color: #B6B5FF;
    background-color: transparent;
}

.default-input:placeholder-shown {
    font-style: italic;
}

.register-input {
    border-radius: 10px;
    border-width: 2px;
    border-color: #B6B5FF;
    background-color: transparent;
    max-width: 350px;
    margin-bottom: 5px
}

.register-input:placeholder-shown {
    font-style: italic;
}

.other-form-input {
    border-radius: 30px;
    font-family: "Commissioner";
    color: black;
    padding: 5px 8px 5px 8px;
    box-shadow: none;
    border-width: 2px;
    border-color: #B6B5FF;
    background-color: white;
    font-size: 18px;
    margin: 5px
}

.log_in_fields {
    height: 35px;
    margin-top: 20px;
    z-index: 5;
}

.discrete_button {
    font-family: 'JetBrains Mono';
    font-size: 12px;
    color: #a2a2a2;
    background-color: transparent;
    border-width: 0px;
    margin-top: 1%;
    height: 20px;
    margin-left: 1%
}

.discrete_button:hover {
    text-decoration: underline;
}