.general_background {
    background-size: 190px 190px;
    background-color: #F5F5FA;
    background-image:
        linear-gradient(to right, #E5E5F8 1px, transparent 1px),
        linear-gradient(to bottom, #E5E5F8 1px, transparent 1px);
}

.ring_outsider {
    position: absolute;
    width: 425px;
    height: 425px;
    background: #DBDAFF;
    border-radius: 0 0 425px 0;
    -moz-border-radius: 0 0 425px 0;
    -webkit-border-radius: 0 0 425px 0;
}

.ring_insider {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #F5F5FA;
    border-radius: 0 0 200px 0;
    -moz-border-radius: 0 0 200px 0;
    -webkit-border-radius: 0 0 200px 0;
    background-size: 190px 190px;
    background-image:
        linear-gradient(to right, #E5E5F8 1px, transparent 1px),
        linear-gradient(to bottom, #E5E5F8 1px, transparent 1px);
}

.card {
    margin-bottom: 30px;
    border: none;
    border-radius: 30px;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
}

h1 {
    font-family: "JetBrains Mono";
    color: #4846FF;
    font-size: 30px;
    margin-bottom: 5%;
}

.grey_progress_indicator {
    color: #E5E5F8;
}

.btn-primary {
    background: #4846FF;
    border-radius: 30px;
    font-family: "JetBrains Mono";
    color: snow;
    padding: 12px 45px 12px 45px;
    box-shadow: none;
    border-width: 0px;
}

.btn-primary:hover {
    background: #6f6cfd;
}

.default-input {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom-width: 1px;
    border-color: #B6B5FF;
    background-color: transparent;
}

.default-input:placeholder-shown {
    font-style: italic;
}

.register-input {
    border-radius: 10px;
    border-width: 2px;
    border-color: #B6B5FF;
    background-color: transparent;
    max-width: 350px;
    margin-bottom: 5px
}

.register-input:placeholder-shown {
    font-style: italic;
}