{%extends 'form_structure.html'%}
{%block form_content%}
Actuellement, j'obtiens le résultat sur ma marge, mes coefficients {{form.moyen_obtention_coefficients}} sur
{{form.support_comptablitie}}. Ce système me permet d'obtenir ces donnés tous les
{{form.frequence_connaissance_coefficient}}.
<br>
Je souhaiterais pouvoir consulter des données telles que mon coefficient et une analyse de mes achats et de mes coûts
matières plus régulièrement {{form.souhait_plus_de_regularite}}.
<br>
Mon système actuel pour garder et analyser toutes ces données (coefficient, répartition des achats) me coûte
{{form.depense_moyenne_obtention_bilan}} par mois au total.
<br>
Je serais prêt à dépenser {{form.depense_consentie_notre_version}} euros par mois pour avoir un outil me permettant de
suivre toutes
mes factures ligne à ligne, de passer, tracer, et analyser mes commandes et la répartition de mes coûts, et de consulter
le résultat de mon coefficient en temps réel, le tout 24h/24 7j/7.
{% if form.errors %}
{%if form.non_field_errors%}
<p style="color:rgb(248, 101, 160)">{{form.non_field_errors}}</p>
{%endif%}
{% for field in form %}
{% for error in field.errors %}
<p style="color:rgb(248, 101, 160)"> {{ errors }} </p>
{% endfor %}
{% endfor %}
{% endif %}
{%endblock%}