{%extends 'form_structure.html'%}
{%block form_content%}
Je modifie ma carte {{form.frequence_modification}}. Je trouve cela suffisant {{form.rythme_trouve_suffisant}}.
<br>Je fais des suggestions du jour {{form.frequence_suggestion_du_jour}}.
<br>Je calcule les prix de mes plats {{form.methode_calcul_de_prix}}.
<br>J'estime que mes prix sont juste pour mes clients {{form.prix_trouve_justes_clients}} et pour moi
{{form.prix_trouve_justes_soi}}.
{% if form.errors %}
{%if form.non_field_errors%}
<p style="color:rgb(248, 101, 160)">{{form.non_field_errors}}</p>
{%endif%}
{% for field in form %}
{% for error in field.errors %}
<p style="color:rgb(248, 101, 160)"> {{ errors }} </p>
{% endfor %}
{% endfor %}
{% endif %}
{%endblock%}