{%extends 'form_page.html'%}
{%block form%}
<div class="card ps-5 pt-5 pe-1 pb-1" style="border-radius: 30px;margin-bottom: 0px;">
    <div class="card-body">
        <p style="margin-bottom:0px">HELLo
            fghjklkjhgfdfghjklpoiuytrertyuiopoiuytfrdfghjkliuytredrtyuiopoiuytfrdfghjfghjklkjhgfdfghjklpoiuytrertyuiopoiuytfrdfghjkliuytredrtyuiopoiuytfrdfghj
        </p>
        <p style="margin-bottom:0px">HELLo
            fghjklkjhgfdfghjklpoiuytrertyuiopoiuytfrdfghjkliuytredrtyuiopoiuytfrdfghjfghjklkjhgfdfghjklpoiuytrertyuiopoiuytfrdfghjkliuytredrtyuiopoiuytfrdfghj
        </p>
        <p style="margin-bottom:0px">HELLo
            fghjklkjhgfdfghjklpoiuytrertyuiopoiuytfrdfghjkliuytredrtyuiopoiuytfrdfghjfghjklkjhgfdfghjklpoiuytrertyuiopoiuytfrdfghjkliuytredrtyuiopoiuytfrdfghj
        </p>
        <p style="margin-bottom:0px">HELLo
            fghjklkjhgfdfghjklpoiuytrertyuiopoiuytfrdfghjkliuytredrtyuiopoiuytfrdfghjfghjklkjhgfdfghjklpoiuytrertyuiopoiuytfrdfghjkliuytredrtyuiopoiuytfrdfghj
        </p>
        <p style="margin-bottom:0px">HELLo
            fghjklkjhgfdfghjklpoiuytrertyuiopoiuytfrdfghjkliuytredrtyuiopoiuytfrdfghjfghjklkjhgfdfghjklpoiuytrertyuiopoiuytfrdfghjkliuytredrtyuiopoiuytfrdfghj
        </p>
        <p style="margin-bottom:0px">HELLo
            fghjklkjhgfdfghjklpoiuytrertyuiopoiuytfrdfghjkliuytredrtyuiopoiuytfrdfghjfghjklkjhgfdfghjklpoiuytrertyuiopoiuytfrdfghjkliuytredrtyuiopoiuytfrdfghj
        </p>
        <p style="margin-bottom:0px">
            HELL
        </p>
    </div>
</div>
{%endblock%}