{% extends 'form_content.html' %}
{% block content %}
<div class="container" style="margin-right:0px">
    <div class="row">
        <div class="col-12 d-flex flex-row justify-content-end">
            {% include 'partials/player_profile.html'%}
        </div>
    </div>
    <div class="row d-flex flex-row justify-content-start">
        <div class="col-xl-10 offset-lg-0 col-xl-offset-2 col-lg-10 col-md-12 col-sm-8 offset-sm-4"
            style="margin-top:2%;z-index:3">
            <div class="card ps-5 pt-5 pe-1 pb-1" style="border-radius: 30px;margin-bottom: 0px;">
                <div class="card-body">
                    {% block form%}{%endblock%}
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}