{% extends 'base.html' %}
{% block body %}
{% include 'partials/messages.html' %}
<!-- <div class="row" style="padding-left:0px!important"> -->
<div class="d-flex flex-row justidy-content-center">
    <div class="vh-100 col-12" style="background-color: #F5F5FA" style="padding-left:0px">
        <div class="ring_outsider" style="z-index:3"></div>
        <div class="ring_insider_home" style="z-index:3"></div>
        <div class="vh-100 row d-flex flex-row justify-content-center">
            <div class="col-8 d-flex flex-column justify-content-center align-items-center">
                <h1 style="text-align: center;margin-bottom: 0px;z-index: 5;">👋 Bienvenue!</h1>
                <p style="text-align: center;color:#5C5B5B;font-family: 'Commissioner';font-size:16px;z-index: 5;">Nous
                    sommes
                    heureux de vous voir.</p>
                <form method="post">
                    {%csrf_token%}
                    <input type="hidden" name="next" value="{{ next }}">
                    <div class="col-12 d-flex flex-column justify-content-center" style="z-index: 5;">
                        {{form.email}}
                        {{form.password}}

                        <input type="submit" style="margin-top:35px;z-index:5" value="Se connecter"
                            class="btn btn-primary">
                </form>
                <form method="post">
                    <div class="row d-flex flex-row justify-content-center" style="margin-top:5px">
                        {%csrf_token%}
                        <p
                            style="color:#5C5B5B;font-family: 'Commissioner';font-size:16px;width:auto;margin-bottom: 0px;padding:0px;z-index:5">
                            Pas de
                            compte?
                        </p>
                        <input type="submit" value="Créer un compte" name="create_account"
                            style="text-decoration: underline
                    ;color:#B6B5FF;font-family: 'Commissioner';font-size:16px;background-color: transparent;border-width: 0px;width:auto;padding:0px;text-align:start;margin-left:5px;;z-index:5">
                    </div>
                </form>
                </form>
            </div>
        </div>
    </div>

</div>
</div>
{% block content %}
{% endblock %}
{% endblock %}